body{
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
.coral-color{
    color: coral;
}

.heading h1{
    border-left: 5px solid;
    border-image: linear-gradient(FireBrick, OrangeRed);
    border-image-slice: 1;
    padding: 1%;


}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
    
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 8%;
    text-align: justify;
    
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(MediumSeaGreen, LightSeaGreen);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
#more-about{
    padding-top: 20px;
}
.mission-area{
    margin-left: 9%;
}
.mission-area h1{
    text-align: center;
}
.mission-item{
    width: 320px;
    margin: 1%;
    border-radius: 25px;
    box-shadow: 10px 10px 40px gray;
    padding: 1%;
    text-align: justify;
}
.mission-item img{
    width: 60%;
    border-radius: 10px;

}
.second-half-width{
    width: 50%;
    padding-right: 10%;
    padding-top: 5%;
    text-align: justify;
}
.second-half-width img{
    width: 80%;
    padding-left: 25%;
}
.service-area{
    margin-left: 9%;
}
    
.service-area h1{
    text-align: center;
    margin-left: -11%;

}
.service-item{
    width: 320px;
    margin: 1%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    padding: 1%;
    color: white;
    text-align: justify;
    background-color: Teal;
}
.service-item h2{
    text-align: center;
}
footer{
    height: 150px;
    background-color: black;
}
footer h3{
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;

    
}
footer p{
    text-align: center;
    color: white;

}